/* LEADING & SPACING */

$leading_1: 1.143rem;
$leading_2: 2.286rem;
$leading_3: 3.429rem;
$leading_4: 9.143rem;

/* BREAKPOINTS */

$huge: 1080px;
$big: 960px;
$medium: 720px;

/* MIXINS */

@mixin if-screen-is($min) {
    @media only screen and (min-width: $min) {
        @content
    }
}

@mixin box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

/*

    These mixins control font sizes, @include them into elements within columns

*/

@mixin small {
    font-size: 1rem;
    line-height: $leading_1;
    margin-top: 1px;
    margin-bottom: -1px;
}

@mixin medium {
    font-size: 1.2857rem;
    line-height: $leading_2;
    margin-top: 7px;
    margin-bottom: -7px;
}

@mixin big {
    font-size: 1.5rem;
    line-height: $leading_2;
    margin-top: 6px;
    margin-bottom: -6px;
}

@mixin huge {
    font-size: 3.4286rem;
    line-height: $leading_3;
    margin-top: 3px;
    margin-bottom: -3px;
}

@mixin gutter {
    padding-right: $leading_1;
}

@mixin space {
    padding-bottom: $leading_1;
}

/* GRID */

[class*='fit-'] {
    float: left;
    width: 100%;

    @include box-sizing;
}

[class*='fit-']:last-of-type {
    float: right;
}

.column-box:after {
    content: "";
    display: table;
    clear: both;
}

.column-fit-2  {
    @include if-screen-is($medium) {
        width: 50%;
    }
}

.column-fit-3  {
    @include if-screen-is($big) {
        width: 33%;
    }
}

.column-fit-4  {
    @include if-screen-is($medium) {
        width: 50%;
    }

    @include if-screen-is($huge) {
        width: 25%;
    }
}

/* GENERAL STYLES */

*, *:before, *:after {
    border:     0;
    margin:     0;
    padding:    0;

    @include box-sizing;
}

html {
    font-size: .875em;
}
